@charset "utf-8";

.notice{font-size: 1.5em;}
.notice div{float: left;padding-right: 15px;}
.notice div:last-child{border-right: 0 none;}
.notice .title{width: 25%;}
.notice .title a{display: block;margin-bottom: 10px;font-weight: bold;}
.notice .title a.btn{
	width: 23px;height: 23px;
	text-indent:-1000px;
	background-image: url(img/more_btn.png);
	background-position: 0 -23px;
}
.notice .title a.btn:hover{
	background-position: 0 0;
}


.notice .content{
	width: 25%;padding-left: 20px;border-right: 1px solid #ccc;	
	height:200px;display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.content .subject{font-weight: bold;}
.content .etc{font-size: 1em;}